.classes-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 15% 1fr 10%;
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas: '. . . . .';
  background-color: _palette(accent1-alt);
  padding: 5px;

  h4 {
    @include breakpoint('<=small') {
      display: none;
    }
    padding: 10px;
    background-color: _palette(accent1);
  }
}
